Importing libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('WDI_Data.csv')

In [3]:
data.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]', '2008 [YR2008]',
       '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]', '2012 [YR2012]',
       '2013 [YR2013]', '2014 [YR2014]'],
      dtype='object')

Renaming columns to more user friendly name

In [4]:
data = data.rename(index=str, columns={"Country Name": "country_name", "Country Code": "country_code","Series Name": "series_name", 
                                       "2005 [YR2005]" : "2005","2006 [YR2006]" : "2006", "2007 [YR2007]" : "2007", "2008 [YR2008]" : "2008",
                                       "2009 [YR2009]" : "2009", "2010 [YR2010]" : "2010", "2011 [YR2011]" : "2011", "2012 [YR2012]" : "2012", 
                                       "2013 [YR2013]" : "2013", "2014 [YR2014]" : "2014"})

In [5]:
data.columns

Index(['country_name', 'country_code', 'series_name', 'Series Code', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014'],
      dtype='object')

Series name. We will select the relevant columns as per our requirements

In [8]:
(data.series_name.unique())

array(['Adolescent fertility rate (births per 1,000 women ages 15-19)',
       'Agriculture, value added (% of GDP)',
       'Annual freshwater withdrawals, total (% of internal resources)',
       'Births attended by skilled health staff (% of total)',
       'Cash surplus/deficit (% of GDP)',
       'CO2 emissions (metric tons per capita)',
       'Contraceptive prevalence (% of women ages 15-49)',
       'Domestic credit provided by financial sector (% of GDP)',
       'Electric power consumption (kWh per capita)',
       'Energy use (kg of oil equivalent per capita)',
       'Exports of goods and services (% of GDP)',
       'External debt stocks, total (DOD, current US$)',
       'Fertility rate, total (births per woman)',
       'Foreign direct investment, net inflows (BoP, current US$)',
       'Forest area (sq. km)', 'GDP (current US$)',
       'GDP growth (annual %)',
       'GNI per capita, Atlas method (current US$)',
       'GNI per capita, PPP (current international $)',
       'GNI, Atlas method (current US$)',
       'GNI, PPP (current international $)',
       'Gross capital formation (% of GDP)',
       'High-technology exports (% of manufactured exports)',
       'Immunization, measles (% of children ages 12-23 months)',
       'Imports of goods and services (% of GDP)',
       'Improved sanitation facilities (% of population with access)',
       'Improved water source (% of population with access)',
       'Income share held by lowest 20%',
       'Industry, value added (% of GDP)',
       'Inflation, GDP deflator (annual %)',
       'Internet users (per 100 people)',
       'Life expectancy at birth, total (years)',
       'Malnutrition prevalence, weight for age (% of children under 5)',
       'Merchandise trade (% of GDP)', 'Military expenditure (% of GDP)',
       'Mobile cellular subscriptions (per 100 people)',
       'Mortality rate, under-5 (per 1,000 live births)',
       'Net barter terms of trade index (2000 = 100)', 'Net migration',
       'Net official development assistance and official aid received (current US$)',
       'Overall level of statistical capacity (scale 0 - 100)',
       'Personal remittances, received (current US$)',
       'Population density (people per sq. km of land area)',
       'Population growth (annual %)', 'Population, total',
       'Poverty headcount ratio at $1.25 a day (PPP) (% of population)',
       'Poverty headcount ratio at national poverty lines (% of population)',
       'Prevalence of HIV, total (% of population ages 15-49)',
       'Primary completion rate, total (% of relevant age group)',
       'Ratio of girls to boys in primary and secondary education (%)',
       'Revenue, excluding grants (% of GDP)',
       'School enrollment, primary (% gross)',
       'School enrollment, secondary (% gross)',
       'Services, etc., value added (% of GDP)', 'Surface area (sq. km)',
       'Tax revenue (% of GDP)',
       'Terrestrial and marine protected areas (% of total territorial area)',
       'Time required to start a business (days)',
       'Total debt service (% of exports of goods, services and primary income)',
       'Urban population growth (annual %)', nan], dtype=object)

Creating separate dataframe as per the required series

In [9]:
dfg = data[data.series_name == 'GDP growth (annual %)']
dfi = data[data.series_name == 'Internet users (per 100 people)']
dfm = data[data.series_name == 'Mobile cellular subscriptions (per 100 people)']
dfp = data[data.series_name == 'Population density (people per sq. km of land area)']
dfpt = data[data.series_name == 'Population, total']
dfs = data[data.series_name == 'School enrollment, primary (% gross)']
dft = data[data.series_name == 'Time required to start a business (days)']
dfe = data[data.series_name == 'Electric power consumption (kWh per capita)']

In [10]:
dfg.head()

,country_name,country_code,series_name,Series Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
16,Argentina,ARG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,9.198488983,8.402868566,7.965573248,3.074945503,0.050024456,9.451578331,8.386451456,0.801760179,2.885351883,0.46925706
76,Australia,AUS,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,3.216467335,2.990667578,3.760144101,3.702292955,1.731817915,1.962366101,2.321478902,3.727818428,2.511938261,2.474910319
136,Brazil,BRA,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,3.148900043,3.999324276,6.005801827,5.019316013,-0.235978102,7.572067155,3.916382188,1.762488805,2.74369665,0.144707354
196,China,CHN,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,11.35239142,12.6882251,14.19496167,9.623377486,9.233551095,10.63170823,9.484506202,7.750297593,7.68380997,7.351000022
256,France,FRA,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,1.607715493,2.374944836,2.361502077,0.195293168,-2.941338664,1.965657819,2.079228327,0.182689429,0.656488993,0.179563041

Selecting only the required columns

In [11]:
dfg = dfg[['country_name','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014']]
dfi = dfi[['country_name','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014']]
dfm = dfm[['country_name','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014']]
dfp = dfp[['country_name','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014']]
dfpt = dfpt[['country_name','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014']]
dfs = dfs[['country_name','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014']]
dft = dft[['country_name','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014']]
dfe = dfe[['country_name','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014']]

In [12]:
dfg.head(3)

,country_name,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
16,Argentina,9.198488983,8.402868566,7.965573248,3.074945503,0.050024456,9.451578331,8.386451456,0.801760179,2.885351883,0.46925706
76,Australia,3.216467335,2.990667578,3.760144101,3.702292955,1.731817915,1.962366101,2.321478902,3.727818428,2.511938261,2.474910319
136,Brazil,3.148900043,3.999324276,6.005801827,5.019316013,-0.235978102,7.572067155,3.916382188,1.762488805,2.74369665,0.144707354

We need to unpivot the dataframe from wide format to long format. 
We have to bring all the years columns into one single column (year).

In [13]:
dfg = pd.melt(dfg, id_vars=['country_name'])
dfi = pd.melt(dfi, id_vars=['country_name'])
dfm = pd.melt(dfm, id_vars=['country_name'])
dfp = pd.melt(dfp, id_vars=['country_name'])
dfpt = pd.melt(dfpt, id_vars=['country_name'])
dfs = pd.melt(dfs, id_vars=['country_name'])
dft = pd.melt(dft, id_vars=['country_name'])
dfe = pd.melt(dfe, id_vars=['country_name'])

In [14]:
dfg.head(3)

  country_name variable        value
0    Argentina     2005  9.198488983
1    Australia     2005  3.216467335
2       Brazil     2005  3.148900043

Renaming the individual dataframe as per their value. Variable is year for all the dfs

In [15]:
dfg.columns = ['country_name','year','GDP_growth']
dfi.columns = ['country_name','year','internet_user']
dfm.columns = ['country_name','year','Mobile_subscriptions']
dfp.columns = ['country_name','year','population_density']
dfpt.columns = ['country_name','year','population_total']
dfs.columns = ['country_name','year','school_enrollment']
dft.columns = ['country_name','year','time_tostart_business']
dfe.columns = ['country_name','year','electricity_consumption']

In [16]:
dfi.head(3)

  country_name  year internet_user
0    Argentina  2005   17.72058337
1    Australia  2005            63
2       Brazil  2005   21.02274725

Mergeing all the dataframes

In [17]:
t1 = dfi.merge(dfg)
t2 = t1.merge(dfm)
t3 = t2.merge(dfp)
t4 = t3.merge(dfpt)
t5 = t4.merge(dfs)
t6 = t5.merge(dft)
final = t6.merge(dfe)

In [109]:
final.head()

,country_name,year,internet_user,GDP_growth,Mobile_subscriptions,population_density,population_total,school_enrollment,time_tostart_business,electricity_consumption
0,Argentina,2005,17.72058337,9.198488983,57.32899426,14.12211613,38647854,113.11118,30,2423.705078
1,Australia,2005,63,3.216467335,89.76286231,2.654777866,20394800,101.51868,3,10458.45019
2,Brazil,2005,21.02274725,3.148900043,46.31418452,22.27079266,186142403,..,156,2015.634235
3,China,2005,8.523257003,11.35239142,29.84470593,138.8677661,1303720000,..,48,1783.87077
4,France,2005,42.87,1.607715493,78.26189586,115.3786024,63176246,107.67285,7,7655.583081

In [110]:
final.dtypes

country_name               object
year                       object
internet_user              object
GDP_growth                 object
Mobile_subscriptions       object
population_density         object
population_total           object
school_enrollment          object
time_tostart_business      object
electricity_consumption    object
dtype: object

We observe few values are missing, so replacing that value with 'NaN'

In [111]:
final = final.replace('..',np.NaN)

Converting the object type to numeric type

In [113]:
df_final = final.apply(pd.to_numeric, errors='ignore')

In [121]:
df_final.dtypes

country_name                object
year                         int64
internet_user              float64
GDP_growth                 float64
Mobile_subscriptions       float64
population_density         float64
population_total             int64
school_enrollment          float64
time_tostart_business      float64
electricity_consumption    float64
dtype: object

In [115]:
df_final.corr()

,year,internet_user,GDP_growth,Mobile_subscriptions,population_density,population_total,school_enrollment,time_tostart_business,electricity_consumption
year,1.000000,0.335479,-0.215388,0.464819,0.018757,0.013879,0.118989,-0.193812,0.028919
internet_user,0.335479,1.000000,-0.553557,0.469413,0.313728,-0.483410,-0.277836,-0.463011,0.766023
GDP_growth,-0.215388,-0.553557,1.000000,-0.409943,-0.076392,0.532493,0.389410,0.246708,-0.380513
Mobile_subscriptions,0.464819,0.469413,-0.409943,1.000000,-0.110533,-0.517064,-0.281007,-0.279043,0.380093
population_density,0.018757,0.313728,-0.076392,-0.110533,1.000000,0.144452,0.060845,-0.221124,0.055289
population_total,0.013879,-0.483410,0.532493,-0.517064,0.144452,1.000000,0.664400,0.173823,-0.401058
school_enrollment,0.118989,-0.277836,0.389410,-0.281007,0.060845,0.664400,1.000000,0.273780,-0.489697
time_tostart_business,-0.193812,-0.463011,0.246708,-0.279043,-0.221124,0.173823,0.273780,1.000000,-0.474016
electricity_consumption,0.028919,0.766023,-0.380513,0.380093,0.055289,-0.401058,-0.489697,-0.474016,1.000000

<b> we observe a strong corelation between mobile phone subscription and internet users </b>

Exporting the final df to create the file used for our visualization in Tableau

In [119]:
df_final.to_csv('VizFile.csv')

### To study how govt spends on education

In [19]:
datag = pd.read_csv("Govt_Spending_on_Education.csv")

In [22]:
datag.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016'],
      dtype='object')

In [23]:
datag = datag[['Country Name','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016']]

In [25]:
datag.head()

,Country Name,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,4.68076,NaN,4.79918,4.91559,5.92467,6.71249,6.03687,6.55339,6.79629,6.13062,NaN,NaN
1,Afghanistan,NaN,NaN,NaN,NaN,NaN,3.46196,3.43785,2.52441,3.47171,3.77759,3.37581,NaN
2,Angola,2.77620,2.85969,NaN,NaN,NaN,3.47644,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,3.23872,3.15719,3.26868,NaN,NaN,NaN,NaN,NaN,3.53798,NaN,NaN,NaN
4,Andorra,1.60025,2.19399,2.07405,2.93457,3.16387,3.06580,3.15889,NaN,2.46258,3.06442,NaN,NaN

In [26]:
datag = pd.melt(datag, id_vars=['Country Name'])

In [27]:
datag.head()

  Country Name variable    value
0        Aruba     2005  4.68076
1  Afghanistan     2005      NaN
2       Angola     2005  2.77620
3      Albania     2005  3.23872
4      Andorra     2005  1.60025

In [28]:
datag.columns = ['country_name','year','govt_spending_education']

In [29]:
datag.head()

  country_name  year  govt_spending_education
0        Aruba  2005                  4.68076
1  Afghanistan  2005                      NaN
2       Angola  2005                  2.77620
3      Albania  2005                  3.23872
4      Andorra  2005                  1.60025

In [30]:
datag.dtypes

country_name                object
year                        object
govt_spending_education    float64
dtype: object

In [31]:
datag_final = datag.apply(pd.to_numeric, errors='ignore')

In [33]:
datag_final.dtypes

country_name                object
year                         int64
govt_spending_education    float64
dtype: object

In [34]:
datag_final.to_csv('How_Govt_Spends_on_Education.csv')

## End of Data Wrangling